<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFL Statistics</title>
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  
  <body>
    <nav>AFL Statistics</nav>
    <h1 style="color:blue; align:center;">AFL Statistics</h1>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e4/Australian_Football_League.svg/250px-Australian_Football_League.svg.png" alt="AFL Image" height=150 width=200 />
    <h2 style="color:purple; align:center;">Team Players = Team 3: Liam (Aung Kyaw Zan), Billie Gore, Aayush Gupta, Chris Banh</h2>
    <br>
    Available Routes:
    <br>
    Match Statistics:
    <a href="/api/games">/api/games</a>
    <br>
    Player Statistics:
    <a href="/api/players">/api/players</a>
    <br>
    Bonus Statistics:
    <a href="/api/stats">/api/stats</a>

    <main>
      <div id='bar'></div>
    </main>
    
    
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/logic.js"></script>
  </body>

</html>