<!DOCTYPE html>
<html lang="en">


  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Data Dashboard">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>AFL Statistics</title>
  </head>

  <body>
    <div class="center-image">
      <style>
      .center-image {
        display: flex;
        justify-content: center;
      }
    </style>
         <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e4/Australian_Football_League.svg/250px-       Australian_Football_League.svg.png" alt="AFL Image" height="150" width="200"></div>
      
  <div class="center-image">
      <style>
      .center-image {
        display: flex;
        justify-content: center;
      }
    </style>
    </style><h1 style="color:blue; align:center;">AFL Statistics</h1>
    </div>
    <div class="center-image">
      <style>
        .center-image {
          display: flex;
          justify-content: center;
        }
      </style>
    </div>
    
    <main>
      <input type="button" value="Hide available routes" onclick="document.getElementById('p1').style.visibility='hidden'">
      <input type="button" value="Show available routes" onclick="document.getElementById('p1').style.visibility='visible'">
      <p id="p1">
        Match Statistics: <a href="/api/games">/api/games</a><br>
        Home and Away: <a href="/api/report/home-and-away">/api/report/home-and-away</a><br>
        Player Statistics: <a href="/api/players">/api/players</a><br>
        Bonus Statistics: <a href="/api/stats">/api/stats</a><br>
        Top 10 Scorers: <a href="/api/report/goals-score">/api/report/goals-score</a>
      </p>
      <br>
    
      <div>
        <label for="year-select">Select Year:</label>
        <select id="year-select">
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021" selected="selected">2021</option>
          <!-- Add more options for available years -->
        </select>
        <button id="update-chart-btn" onClick="updateChart()">Update Chart</button>
      </div>
    </main>
    
    <p>Comparing wins if teams played at home versus playing away</p>
    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
    <br>
    <p>Top 10 goal scorers</p>
    <div id='goalsDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
    
    </main>
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js"></script>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    
    </main>

</html>